body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#game {
  max-width: 1000px; /* Adjust as necessary */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#characters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

#bananaCat, #elGado {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bananaCatInfo, #elGadoInfo {
  margin-top: 10px;
}

#bananaCat img, #elGado img {
  width: 300px; 
  height: auto;
}

#bananaCat #cryingGif {
  display: none; /* Hide initially */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#actions button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

#message {
  margin-top: 20px;
  font-size: 18px;
}
